name: Common Workflow

on:
  workflow_call:
    inputs:
      shell:
        required: true
        type: string
      os:
        required: true
        type: string
      os_version:
        required: true
        type: string

jobs:
  tests:
    runs-on: ${{ inputs.os == 'freebsd' && 'ubuntu-latest' || format('{0}-{1}', inputs.os, inputs.os_version) }}

    steps:
      - name: Select freebsd image
        if: inputs.os == 'freebsd'
        uses: vmactions/freebsd-vm@v1
        with:
          release: ${{ inputs.os_version }}
          prepare: |
            pkg install -y git tree


      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install ${{ inputs.shell }}
        run: |
          shell="${{ inputs.shell }}"
          shell_name="${shell%%-*}"
          shell_version="${shell#*-}"

          case "$shell_name" in
            "bash")
              if [[ "{{ inputs.os }}" == 'ubuntu' ]]; then
                sudo apt update
                sudo apt install -y bash=${shell_version}
              else
                wget https://ftpmirror.gnu.org/bash/bash-${shell_version}.tar.gz
                tar -xf bash-${shell_version}.tar.gz
                cd bash-${shell_version}
                ./configure
                make
                sudo make install
              fi
              ;;
            "zsh")
              if [[ "{{ inputs.os }}" == 'ubuntu' ]]; then
                sudo apt update
                sudo apt install -y zsh=${shell_version}
              else
                wget -O zsh-${shell_version}.tar.xz https://sourceforge.net/projects/zsh/files/zsh/${shell_version}/zsh-${shell_version}.tar.xz/download
                tar -xf zsh-${shell_version}.tar.xz
                cd zsh-${shell_version}
                ./configure
                make
                sudo make install
              fi
              ;;
          esac

      - name: Install dependencies
        run: |
          case "${{ inputs.os }}" in
            "ubuntu") sudo apt update; sudo apt install -y git tree ;;
            "macos") brew update; brew install git tree ;;
            "freebsd") ;;
          esac
          git clone https://github.com/bats-core/bats-core.git
          sudo ./bats-core/install.sh /usr/local

      - name: Core tests
        run: |
          case "${{ inputs.shell }}" in
            "bash"*) SHELL_PATH="/usr/local/bin/bash" ;;
            *"zsh"*) SHELL_PATH="/usr/local/bin/zsh" ;;
          esac
          echo "Running with $SHELL_PATH"
          $SHELL_PATH --version
          TEST_SHELL="$SHELL_PATH" bats tests/core

      - name: Integration tests
        if: always()
        run: |
          case "${{ inputs.shell }}" in
            "bash"*) SHELL_PATH="/usr/local/bin/bash" ;;
            *"zsh"*) SHELL_PATH="/usr/bin/zsh" ;;
          esac
          echo "Running with $SHELL_PATH"
          $SHELL_PATH --version
          TEST_SHELL="$SHELL_PATH" bats tests/integration

      - name: Environment variables tests
        if: always()
        run: |
          case "${{ inputs.shell }}" in
            "bash"*) SHELL_PATH="/usr/local/bin/bash" ;;
            *"zsh"*) SHELL_PATH="/usr/bin/zsh" ;;
          esac
          echo "Running with $SHELL_PATH"
          $SHELL_PATH --version
          TEST_SHELL="$SHELL_PATH" bats tests/envvars

      - name: Performance tests
        if: always()
        run: |
          case "${{ inputs.shell }}" in
            "bash"*) SHELL_PATH="/usr/local/bin/bash" ;;
            *"zsh"*) SHELL_PATH="/usr/bin/zsh" ;;
          esac
          echo "Running with $SHELL_PATH"
          $SHELL_PATH --version
          TEST_SHELL="$SHELL_PATH" bats tests/perf
        continue-on-error: true
