name: Full Matrix Workflow

on:
  # push:
    # branches:
    #   - "**"
  # pull_request:
  #   branches:
  #     - '**'
  workflow_dispatch:

jobs:
  integration:
    strategy:
      # see all results even if one fails
      fail-fast: false
      matrix:
        os: ["ubuntu", "macos", "freebsd"]
        shell: ["bash", "zsh"]
        shell_version: [3.2, 4.0, 5.2, 5.9]
        include:
          - os: "ubuntu"
            os_version: "24.04"
          - os: "macos"
            os_version: "15"
          - os: "freebsd"
            os_version: "14.1"
        exclude:
          - shell: bash
            shell_version: 5.9
          - shell: zsh
            shell_version: 3.2
          - shell: zsh
            shell_version: 4.0
          - shell: zsh
            shell_version: 5.2
    uses: ./.github/workflows/common.yml
    with:
      shell: ${{ matrix.shell }}
      shell_version: ${{ matrix.shell_version }}
      os: ${{ matrix.os }}
      os_version: ${{ matrix.os_version }}