name: Tests

on:
  # push:
  #   branches:
  #     - "**"
  # pull_request:
  #   branches:
  #     - "**"
  workflow_dispatch:

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        shell: ["bash-3.2", "bash-4.0", "bash-5.2", "zsh-5.9"]
    uses: ./.github/workflows/common.yml
    with:
      shell: ${{ matrix.shell }}
      os: ubuntu
      os_version: 22.04