name: Tests

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - "**"
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y git bash zsh # fish
          git clone https://github.com/bats-core/bats-core.git
          sudo ./bats-core/install.sh /usr/local

      - name: Core tests
        run: |
          bats tests/core

      - name: Integration tests
        run: |
          bats tests/integration

      - name: Environment variables tests
        run: |
          bats tests/envvars
